@use "../../../scss/breakpoints";
@use "../../../scss/mixins/text-styles";

.header {
  $block-name: &; // #{$block-name}__element

  border-bottom: 1px solid var(--border-primary);

  &__inner {
    margin: 0;
    padding: 16px 0;
  }
}
