@use "../../../scss/breakpoints";
@use "../../../scss/mixins/text-styles";

.container {
  $block-name: &; // #{$block-name}__element

  width: min(calc(100vw - var(--container-padding) * 2), var(--container-max-width));
  margin: 0 auto;
}
