extends ../templates/template__default.pug

block variables
  -
    isMainPage = true
    pageTitle = "Main page"
    metaDescription = "description"
    metaKeywords = "keywords"

block content
  div!= test
